input {
  border-radius: 20px;
  border: 2px solid rgb(5, 33, 82);
  padding: 0.2em;
  width: 80%;
}

label {
  text-align: left;
  font-size: 1em;
  width: 50%;
  color: rgb(173, 6, 6);
  text-decoration: underline;
}

.signupDesign {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(207, 184, 5);
  border-radius: 20px;
  margin: 1em;

}

.registerDiv {
  margin: 3em;
}

.userInput {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 2em;
  width: 100%;
  text-align: center;
}

.registerButton {
  background: rgb(5, 33, 82);
  color: rgb(207, 184, 5);
  border: none;
}